{% extends 'base.html.twig' %}
{% block body %}
<div class="auth-form-container">
    <h1 class="auth-form-title">Réinitialiser le mot de passe</h1>
    <form method="post" class="auth-form">
        <label for="password">Nouveau mot de passe :</label>
        <input type="password" name="password" id="password" required class="auth-input">
        <button type="submit" class="btn btn--mt">Réinitialiser</button>
    </form>
    <div class="form-links">
        <a href="{{ path('app_login') }}" class="auth-link-simple">Retour à la connexion</a>
    </div>
</div>
{% endblock %}
