// --------------------------------------------
// Variables principales et breakpoints
// --------------------------------------------

$primary: #e10600;
$primary-hover: #b80000;
$background-dark: #0D0D0D;
$background-card: #232323;
$background-box: #1a1a1a;
$background-news: #3A3A3A;
$background-img: #181818;
$text-main: #fff;
$text-secondary: #e0e0e0;
$text-light: #f2f2f2;
$border-card: #222;
$border-box: #e10600cc;
$border-select: #e10600;
$border-select-hover: #ff4444;
$shadow-main: 0 2px 8px #0004;
$shadow-card: 0 4px 24px rgba(0,0,0,0.18);
$shadow-card-hover: 0 8px 32px #e1060044;
$shadow-box: 0 4px 24px #e1060022, 0 2px 8px #0008;
$gold: #ffd700;
$silver: #c0c0c0;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;