@use "../base/variable" as *;

// --------------------------------------------
// Cartes Pilotes
// --------------------------------------------
.pilote-card {
  background: $background-card;
  border-radius: 1.2rem;
  box-shadow: $shadow-card;
  overflow: hidden;
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $border-card;
  transition: box-shadow 0.2s, transform 0.2s;
}

.pilote-card:hover {
  box-shadow: $shadow-card-hover;
  border-color: $primary;
  transform: translateY(-8px) scale(1.04);
}

// --------------------------------------------
// Cartes Teams
// --------------------------------------------
.team-card-full {
  width: 100%;
  min-height: 320px;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 0;
  background-blend-mode: overlay;
}

.team-card-full:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: $shadow-card-hover;
}

// --------------------------------------------
// Cartes Articles
// --------------------------------------------
.article-card {
  border-radius: 1rem;
  box-shadow: $shadow-card;
  overflow: hidden;
  width: 340px;
  display: flex;
  flex-direction: column;
  border: 2px solid $background-card;
  transition: box-shadow 0.2s, border-color 0.2s, transform 0.2s;
  min-height: 480px;
  justify-content: stretch;
  background: $background-img;
}

.article-card:hover {
  box-shadow: 0 8px 32px #e1060044;
  border-color: $primary;
  transform: translateY(-6px) scale(1.03);
}