@use "../base/variable" as *;

// --------------------------------------------
// Tables Classements & Stats
// --------------------------------------------
.stats-pilotes-table,
.circuit-classement-table,
.circuit-constructeurs-table {
  width: 100%;
  border-collapse: collapse;
  background: $background-card;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px #0002;
}

.stats-pilotes-table th,
.circuit-classement-table th,
.circuit-constructeurs-table th {
  background: $background-box;
  color: $primary;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8em 1.2em;
  text-align: center;
}

.stats-pilotes-table td,
.circuit-classement-table td,
.circuit-constructeurs-table td {
  color: $text-main;
  font-size: 1.1rem;
  padding: 0.8em 1.2em;
  border-bottom: 1px solid $background-card;
}