@use "../base/variable" as *;


// --------------------------------------------
// Footer
// --------------------------------------------
.site-footer {
  background: #111;
  color: #fff;
  padding: 2.2rem 0 1.2rem 0;
  width: 100%;
  text-align: center;
  font-family: inherit;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}
.footer-link:hover {
  color: $primary;
}