@use "../base/variable" as *;


// --------------------------------------------
// Footer
// --------------------------------------------
.site-footer {
  background: #111;
  color: #fff;
  padding: 2.2rem 0 1.2rem 0;
  width: 100%;
  text-align: center;
  font-family: inherit;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}
// Liens du footer en blanc
.footer-link {
  color: #fff;
  transition: color 0.2s;
  text-decoration: none;
}
.footer-link:hover {
  color: $primary;
}

// Logos sociaux en blanc
svg {
  color: #fff;
  fill: #fff;
  transition: color 0.2s, fill 0.2s;
}
.footer-social-logo:hover {
  color: $primary;
  fill: $primary;
}