header {
	background-color: #0D0D0D;
	color: #F2F2F2;
	nav {
		display: flex;
		align-items: center;
		padding: 0.5rem 2rem;
		gap: 2rem;
		background: inherit;
	}

	.logo-header {
		height: 140px !important;
		margin-right: 2rem;
		object-fit: contain;
	}
	a {
		color: #F2F2F2;
		text-decoration: none;
		font-size: 1.1rem;
		font-weight: 400;
		padding: 0.5rem 1.2rem;
		transition: color 0.2s;
	}
	a:hover {
		color: #e10600;
	}
}
