header {
	background-color: #0D0D0D;
	color: #F2F2F2;



	.logo-header {
		height: 50%;
		margin-right: 2rem;
		object-fit: contain;
		max-width: 100%;
	}
	a {
		color: #F2F2F2;
		text-decoration: none;
		font-size: 1.1rem;
		font-weight: 400;
		padding: 0.5rem 1.2rem;
		transition: color 0.2s;
	}
	a:hover {
		color: #e10600;
	}
}
