// Base
@use "base/body";
@use "base/typographie";
@use "base/variable";

// Components
@use "components/cards";
@use "components/button";
@use "components/flash";
@use "components/commentaire";
@use "components/auth";
@use "components/teams";
@use "components/stats_pilotes";
@use "components/actus";

// Layout
@use "layout/navbar";
@use "layout/footer";
@use "layout/header";
@use "layout/hero";

// Pages
@use "pages/home";
@use "pages/circuits";
@use "pages/pilotes";
@use "pages/reglementation";
@use "pages/gp_resume";
@use "pages/article";
@use "pages/transfert";
@use "pages/vainqueur";
@use "pages/quizz";
@use "pages/contact";
@use "pages/mentions_legales";
@use "pages/a_propos";
@use "pages/404" as page404;

// Responsive (toujours en dernier)
@use "base/responsive";
