@use "../base/variable" as *;
@use "../components/button";

.gp-resume-container {
  max-width: 900px;
  margin: 3rem auto;
  background: #181924;
  border-radius: 16px;
  box-shadow: 0 2px 16px #0004;
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  color: #fff;
}
.gp-resume-title {
  text-align: center;
  color: #ff2d2d;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.gp-resume-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}
.gp-resume-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
  padding: 2rem;
  align-items: stretch;
}

.gp-resume-card {
  background: #23243a;
  border-radius: 16px;
  box-shadow: 0 2px 16px #0004;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-resume-card h2 {
  color: #ff2d2d;
  font-size: 1.3rem;
  margin-bottom: 1em;
  text-align: center;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gp-resume-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gp-resume-video iframe {
  border-radius: 8px;
  width: 100%;
  min-height: 236px;
  max-width: 420px;
}
.gp-resume-video-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
