{% extends 'base.html.twig' %}

{% block title %}Accès interdit (403){% endblock %}

{% block body %}
<div class="error-404-container">
    <h1>403</h1>
    <h2>Accès interdit !</h2>
    <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
    <a href="{{ path('app_home') }}" class="btn btn--mt">Retour à l'accueil</a>
</div>
{% endblock %}
